<br>

<div class="container">
   <div class="row">
<a routerLink="/" routerLinkActive="active"><input  type="button" value="Back" style="float: right;"></a>
   </div>
  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8 ">
      <div class="top">
        <h4 class="cartdetails" >Your Cart Details</h4>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Product Name</h4>
        </div>
        <div class="col-md-4">
          <h4>Quantity</h4>
        </div>
        <div class="col-md-4">
          <h4 style="    text-align: center;">Price</h4>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let items of finalProductDetails">
          <div *ngIf="items[1] !== null">
            <div class="col-md-4">
                <span>{{items[0]}}</span>
            </div>
            <div class="col-md-4">
              {{items[1]}}
            </div>
            <div class="col-md-4" style="text-align: center;">
                <span >Rs&nbsp;{{ items[2]}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4></h4>
        </div>
        <div class="col-md-4">
         
        </div>
        <div class="col-md-4">
           <h4 align="right">Total Amount Rs&nbsp;{{totalAmount}}</h4>
        </div>
      </div>
      <button type="button" (click)="payBycash()" style="float: right;     margin: 5px;">Pay By Cash</button>
      <button type="button" (click)="payByCard()" style="float: right;     margin: 5px;">Pay by Card</button>
    </div>
    <div class="col-md-2 ">
    </div>
  </div>
  <br>
  <div *ngIf="showCash" class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8 ">
      <div class="top">
        <h4 class="paymenttitle" >Pay By Cash</h4>

      </div>
      <br> Cash Denomination Details: Rs
      <input type="number" name="Rs" [formControl]="amountDenominationsFormGroup.controls['one']" style="width:35px;" />      &nbsp; Rs<input type="number" name="Rs" [formControl]="amountDenominationsFormGroup.controls['five']" style="width:35px;"
      />&nbsp; Rs<input type="number" name="Rs" [formControl]="amountDenominationsFormGroup.controls['ten']" style="width:35px;"
      />&nbsp; Rs<input type="number" name="Rs" [formControl]="amountDenominationsFormGroup.controls['twenty']" style="width:35px;"
      />
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="decreaseQuantity(amountDenominationsFormGroup.controls['one'].value)"><i class="fa fa-minus" aria-hidden="true"></i></a>      <a> <i (click)="increaseQuantity(amountDenominationsFormGroup.controls['one'].value)" class="fa fa-plus" aria-hidden="true"></i></a>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="decreaseQuantity(amountDenominationsFormGroup.controls['five'].value)"><i class="fa fa-minus" aria-hidden="true"></i></a>      <a> <i (click)="increaseQuantity(amountDenominationsFormGroup.controls['five'].value)" class="fa fa-plus" aria-hidden="true"></i></a>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="decreaseQuantity(amountDenominationsFormGroup.controls['ten'].value)"><i class="fa fa-minus" aria-hidden="true"></i></a>      <a> <i (click)="increaseQuantity(amountDenominationsFormGroup.controls['ten'].value)" class="fa fa-plus" aria-hidden="true"></i></a>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="decreaseQuantity(amountDenominationsFormGroup.controls['twenty'].value)"><i class="fa fa-minus" aria-hidden="true"></i></a>      <a> <i (click)="increaseQuantity(amountDenominationsFormGroup.controls['twenty'].value)" class="fa fa-plus" aria-hidden="true"></i></a>

      <br><br> TotalAmount:&nbsp;
      <input type="number" name="Rs" [formControl]="amountDenominationsFormGroup.controls['total']" style="width:75px;" />
      <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" [disabled]="amountDenominationsFormGroup.controls['total'].value<totalAmount" (click)="payCash()">Pay</button>
      <br>
      <br>
      <div *ngIf="showSuccessMsg">
       <font color="green"> <h4 align="center">Payment Successfull & you will be redirected to home page</h4></font>
      </div>
    </div>
    <div class="col-md-2 ">
    </div>
  </div>
  <div *ngIf="showCard" class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8 ">
      <div class="top">
        <h4 class="paymenttitle" >Pay By Card</h4>
      </div>
     <iframe src="https://www.facebook.com" width="750" height="400"></iframe>
     Sample Payment Gateway Sandbox test URL is not Available.(If we have we can test with Merchant ID & Amount)
    </div>
    <div class="col-md-2 ">
    </div>
  </div>
</div>