div.top {
    height: 50px;
 
    background-color: #4286f4;
}

li.getData{
    height: 0px;
}
.cartdetails{
        text-align: center;
    padding-top: 15px;
}
.paymenttitle{
    text-align: center;
    padding-top: 15px;
}