div.groove {
    border-style: groove;
    display: -webkit-inline-box;
}

div.pay {
  
    width: 1520px;
    background-color: powderblue;
}
.plus-minus{
    padding: 0px 5px;
}
.addtocart{
        margin-top: 10px;
}