<br>

<div class="pay">

</div>
<br>
<br>
<div class="container">
  <div class="row">
    
      <a routerLink="/buy-Product" routerLinkActive="active"><input [disabled]="buyButtonDisable" type="button" value="Buy" style="float: right;"></a>
    </div>
  
  <div class="row">
    <div *ngFor="let items of productList">
      <div class="col-md-4 ">
        <div >

          <div class="row">
            <div class="col-md-9">
              <img src={{items.img}} class="img-rounded"  style="float: right;"/>
            </div>
            <div class="col-md-3">
              <div class="row">
                <h2>{{items.name}}</h2>
              </div>
              <div class="row">
                <p>Price:${{items.price}}</p>
              </div>
              <div class="row">
                <p>Stock Available:{{items.quantity}}</p>
              </div>
              <div class="row">
              <input type="number" name="usrname" [formControl]="quantitySelectionFormGroup.controls[items.name]" style="width:35px;" />  
              <i (click)="decreaseQuantity(items.name)" class="fa fa-minus plus-minus" aria-hidden="true"></i>
              <i (click)="increaseQuantity(items.name)" class="fa fa-plus plus-minus" aria-hidden="true"></i>
              </div>
              <div class="row">
              <button class="addtocart" [disabled]="quantitySelectionFormGroup.controls[items.name].value<1" type="button" (click)="alert()">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>